@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: "ROBOTO Condensed" sans-serif;
}

:root {
  --primary-white : #fff;
  --primary-orange : #f9ab00;
}

/*********************NAVBAR*************************/
.logo{
  width: 80px;
  margin-top: 25px;
}

/**********************MENU LINKS*************************/

nav a.nav-link{
  margin-left: 12px;
  margin-right: 12px;
  letter-spacing: 0.6px;
  cursor: pointer;
}


.navbar-nav > li > a{
  color: var(--primary-white) !important;
}


.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

/* .navbar-nav > li > a.active , .navbar-nav > li > a :focus{
  border-top: 3px 
  color : var(--primary-orange);
} */

.navbar-nav > li > a.active:focus{
  border-bottom: 3px solid var(--primary-orange);
  /* background-color: #f9ab00; */
}
.navbar-nav > li > a:hover{
  border-bottom: 3px solid var(--primary-orange);
  /* background-color: #f9ab00; */
}


